body {
  font-family: Arial, sans-serif;
  background: #f0f2f5;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 30px auto;
  gap: 20px;
}

.post-box {
  width: 35%;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.avatar {
  border-radius: 50%;
}

.username {
  font-weight: bold;
}

.post-box textarea {
  width: 100%;
  height: 80px;
  padding: 10px;
  resize: none;
}

.post-box button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* FEED */
.feed {
  width: 65%;
}

.post {
  background: white;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.post-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-header img {
  border-radius: 50%;
}

.post-header .time {
  font-size: 12px;
  color: gray;
}

.post img {
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
}

.actions {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.actions button {
  border: none;
  background: none;
  cursor: pointer;
  color: #1877f2;
}

.comment-box {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.comment-box input {
  flex: 1;
  padding: 6px;
}

.comment {
  background: #f0f2f5;
  padding: 6px;
  border-radius: 5px;
  margin-top: 5px;
}
